.square_div{
    background-color: brown;
    width: 10px;
    height: 10px;
}

.square_div:hover{
    background-color: gold;
}

#container{
    display: grid;
    grid-gap: 1px;
    justify-content: center;
}