body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

#title{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 15px;
}

#buttons{
    padding: 15px;
}

.square_div{
    background-color: white;
}

#container{
    display: grid;
    width: 500px;
    height: 500px;
    justify-content: center;
}

button{
    background-color: grey;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 10px;

    font-weight: bold;
}